.discover-fashion {
    background-color: hsl(347, 53%, 17%);
    padding: 3rem 8rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discover-fashion h2 {
    color: #FFF3E1;
    text-align: center;
}

.discover-fashion p {
    font-size: 16px;
    font-family: 'Minion Pro', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
}

.discover-fashion button {
    color: hsl(347, 53%, 17%);
}