/* add cursor to shooping cart */
/* remove styling in inout */
/* add the small line under Home */

.navbar {
    background-color: black;
    padding: 2rem 4rem 1rem 4rem;
    display: flex;
    gap: 4.5rem;
    align-items: center;
    justify-content: center;
}

.navbar .logo {
    width: 139px;
}

.navbar_links {
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.navbar_links a {
    color: white;
    text-decoration: none;
    font-family: 'Script MT Bold', sans-serif;
    font-size: 25px;
}

.navbar_account {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar_account button {
    font-family: 'Script MT Bold', sans-serif;
    font-size: 24px;
    padding: 0.1rem 1.12rem;
    border: #D9D9D9 2px solid;
    background-color: #42141E;
    color: #D9D9D9;
}

.navbar_account img {
    width: 42px;
    height: 42px;
}