

.navbar {
    background-color: black;
    padding: 2rem 4rem 1rem 4rem;
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 139px;
}

.navbar_links {
    display: flex;
    gap: 2rem;
    list-style: none;
    
}
.navbar_links a {
    color: white;
    text-decoration: none;
    font-family: 'Script MT Bold', sans-serif;
    font-size: 25px;
}

.navbar_search {
    display: flex;
    align-items: center;
    background-color: rgba(166, 165, 165, 0.58);
    border: 2px solid #FFF3E1;
    padding: 0.25rem 0.5rem;
}

.navbar_search img {
    width: 22px;
    height: 22px;
    margin-right: 0.5rem;
}

.navbar_search input {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 15rem;
}

.navbar_account {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar_account button {
    font-family: 'Script MT Bold', sans-serif;
    font-size: 24px;
    padding: 0.1rem 1.12rem;
    border: #D9D9D9 2px solid;
    background-color: #42141E;
    color: #D9D9D9;
}

.navbar_account img {
    width: 42px;
    height: 42px;
}