* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: black;
  margin: 0;
  padding: 0;
}

.transparent {
  background-color: transparent;
  color: #d9d9d9;
  padding: 0.25rem 1.75rem;
  border: 2px solid #d9d9d9;
  font-family: "Script MT Bold", sans-serif;
  font-size: 24px;
}

.white {
  background-color: #ffffff;
  color: black;
  padding: 0.25rem 1.75rem;
  font-family: "Script MT Bold", sans-serif;
  font-size: 24px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-size: (30px, 10vw, 60px);
  font-weight: bold;
  font-family: "Script MT Bold", sans-serif;
  color: #cea29e;
}

.navbar_search {
  display: flex;
  align-items: center;
  background-color: rgba(166, 165, 165, 0.58);
  border: 2px solid #fff3e1;
  padding: 0.25rem 0.5rem;
}

.navbar_search img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.navbar_search input {
  all: unset;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 15rem;
}

.navbar_search input::placeholder {
  color: #d9d9d9;
  font-weight: bold;
  opacity: 0.6;
}

.navbar_search input:focus {
  outline: none;
  box-shadow: none;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
