* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: black;
  margin: 0;
  padding: 0;
}

.transparent {
  background-color: transparent;
  color: #D9D9D9;
  padding: 0.25rem 1.75rem;
  border: 2px solid #D9D9D9;
  font-family: 'Script MT Bold', sans-serif;
  font-size: 24px;
}

.white {
  background-color: #FFFFFF;
  color: black;
  padding: 0.25rem 1.75rem;
  font-family: 'Script MT Bold', sans-serif;
  font-size: 24px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

.h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Script MT Bold',sans-serif;
  color: #CEA29E;
}

.navbar_search {
  display: flex;
  align-items: center;
  background-color: rgba(166, 165, 165, 0.58);
  border: 2px solid #FFF3E1;
  padding: 0.25rem 0.5rem;
}

.navbar_search img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.navbar_search input {
  all: unset;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 15rem;
}

.navbar_search input::placeholder {
  color: #D9D9D9;
  font-weight: bold;
  opacity: 0.6;
}

.navbar_search input:focus {
  outline: none;
  box-shadow: none;
}

.container {
  padding: 3rem;
  background-color: #42141E;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p:first-child {
    color: white;
    margin: 0;
    background-color: black;
    padding: 3px;
    font-family: 'Minion Pro', sans-serif;
    font-size: 7px;
    letter-spacing: 4px;
    text-align: center;
  }

  img {
    padding: none;
    margin: 0;
    display: flex;
  }

  p:last-child {
    color: white;
    margin: 0;
    padding: 3px 5px;
    font-family: 'Minion Pro', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    font-weight:500; 
  }
}